/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    max-width: 400px;
    max-height: 500px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: flex; /* Added flex display */
    flex-direction: column; /* Added flex direction */
  }

  
  .card img {
    width: 80%;
    height: auto;
    padding: 16px 20px;
     border-radius:20% ;
     align-items: center;
     margin-left: 30px;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    border-bottom: 0.5px solid black;
  }
  
  .card-tag {
    display: inline-block;
    background-color: #e586e2;
    color: purple;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .author {
    font-size: 14px;
    color: #999;
   
    align-self: flex-end; /* Aligned author to the end */
  }